	<h1>Code Challenge</h1>

	<div class='container-fluid'>
		<div class='row'>
    	<div id='popup' class='col-md-4 col-md-offset-8'>
    		<div class='container-fluid'>
    			<button id='close'>
    				<p>Close</p>
    				<%=image_tag('icon_exit@2x.png')%>
    			</button>
		    	<h3>PLANNING A PROJECT?</h3>
		    	<p>Get started with <br><span>4 free quotes</span><br> from local contractors!</p>
		    	<%= form_for @lead do |f| %>
		    		<div class='form-group' id='input'>
			    		<%= f.text_field :zipcode, class:'form-control input-lg', placeholder:'Your Zip', pattern:'[0-9]{5}', required: 'required'%>
		    		</div>
		    		<div class='form-group'>
		    			<%= f.submit 'TRY FOR FREE', class:'btn btn-lg' %>
		    		</div>
	    		<% end %>
    		</div>
    	</div>
  	</div>
	</div>